
header{
    
    padding: 30px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.navbar{
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;
}



.navbar li{
    display: inline-block;
    padding: 0 20px;
    font-family: 'Poppins', sans-serif;
}

.navbar li a{
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}
.social i{
    margin: 5px;
}

.sect{
    position: relative;
    width: 100%;
}


.sect-div img{
    width: 100%;
    height: 382px;
    
}
.title{
    position: absolute;
    width: 100%;
    top: 20%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;
    
}

.title1{
    position: absolute;
    width: 100%;
    top: 30%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 30px;
}


.post{
    display: flex;
    align-items: center;
    width: 1324px;
    margin: 20px 80px; 
   

}
.post h1{
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    
    
}

.post-h1{
    color:rgb(219, 124, 34);
    font-family: 'Poppins', sans-serif;
}

.read{
    color:rgb(231, 85, 17);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}


.post-div{
    width: 180px;
    border: 2px solid rgb(231, 85, 17);
    
   
}



.container{
    display: flex;
    justify-content: space-around;
    
    align-items: center;
}



.btn{
    margin-top: 50px;
    
    font: 22px;

    background-color: #ce7b0e;
    width: 150px;
    height: 50px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 46%;
}
